server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yml

{% for host in ansible_play_hosts_all %}
{% for service in hostvars[host] %}
{% if service == 'loki' %}
clients:
  - url: http://{{ hostvars[host].ansible_default_ipv4.address }}:3100/loki/api/v1/push
{% endif %}
{% endfor %}
{% endfor %}

scrape_configs:
- job_name: syslog
  static_configs:
  - targets:
      - localhost
    labels:
      job: syslog
      __path__: /var/log/*.log

- job_name: auth
  static_configs:
  - targets:
      - localhost
    labels:
      job: auth
      __path__: /var/log/fail2ban.log

{% for service in hostvars[inventory_hostname] %}
{% if service == 'envoy' and hostvars[inventory_hostname][service] %}
- job_name: {{ service }}
  static_configs:
  - targets:
      - localhost
    labels:
      job: {{ service }}
      __path__: /var/local/envoy/http.log

{% endif %}
{% if service == 'excalidraw' and hostvars[inventory_hostname][service] %}
- job_name: {{ service }}
  static_configs:
  - targets:
      - localhost
    labels:
      job: {{ service }}
      __path__: /var/local/envoy/excalidraw.log

{% endif %}
{% if service == 'wastebin' and hostvars[inventory_hostname][service] %}
- job_name: {{ service }}
  static_configs:
  - targets:
      - localhost
    labels:
      job: {{ service }}
      __path__: /var/local/envoy/wastebin.log

{% endif %}
{% if service == 'vscode' and hostvars[inventory_hostname][service] %}
- job_name: {{ service }}
  static_configs:
  - targets:
      - localhost
    labels:
      job: {{ service }}
      __path__: /var/local/envoy/vscode.log

{% endif %}
{% if service | regex_search('service[0-9]+_port$') %}
{% if service | regex_search('service[0-9]+_log$') %}
{% set service_name = key | regex_search('service[0-9]+') %}
{% set service_log_path = key | regex_search('service[0-9]+_log_path') %}
- job_name: {{ service_name }}
  static_configs:
  - targets:
      - localhost
    labels:
      job: {{ service_name }}
      __path__: {{ service_log_path }}

{% endif %}
{% endif %}
{% endfor %}
