[Unit]
Description=TigerVNC Service
After=syslog.target network.target

[Service]
Type=simple
User=vnc_user
WorkingDirectory=/home/vnc_user

PIDFile=/home/vnc_user/.vnc/%H:%i.pid
#ExecStartPre=-/usr/bin/vncserver -kill :%i
ExecStartPre=-/bin/sh -c "/usr/bin/vncserver -kill :%i > /dev/null 2>&1"
ExecStart=/usr/bin/tigervncserver %i -fg -xstartup /usr/bin/gnome-session -SecurityTypes None -alwaysshared -localhost no --I-KNOW-THIS-IS-INSECURE
ExecStop=-/usr/bin/vncserver -kill %i


[Install]
WantedBy=multi-user.target

