{% for key in hostvars[inventory_hostname] %}
{% if key | regex_search('service[0-9]+_port$') %}
{% set service_name = key | regex_search('service[0-9]+') %}
- name: "{{ hostvars[inventory_hostname][service_name] }}_start"
    systemd:
      name: "{{ hostvars[inventory_hostname][service_name] }}.service"
      state: started
      enabled: True
    when: {{ service_name }} is defined

{% endif %}
{% endfor %}
